<form class="login100-form"
    autocomplete="off"
    [formGroup]="registerForm"
    (ngSubmit)="register()">

    <span class="login100-form-title p-b-49">
        Register
    </span>

    <div class="wrap-input100">
        <span class="label-input100">Email</span>
        <input class="input100"
            type="email"
            formControlName="email"
            placeholder="Ingrese su Email">
    </div>
    <span class="form-text text-danger"
        *ngIf="campoNoValido('email')">
        {{ emailErrorMsg }}
    </span>
    <div class="text-right p-t-8 p-b-31"></div>

    <div class="wrap-input100">
        <span class="label-input100">Password</span>
        <input class="input100"
            type="password"
            formControlName="password"
            placeholder="Ingrese su contraseña">
    </div>
    <span class="form-text text-danger"
        *ngIf="campoNoValido('password')">
        {{ passwordErrorMsg }}
    </span>
    <div class="text-right p-t-8 p-b-31"></div>


    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn"
                [disabled]="registerForm.invalid"
                type="submit">
                Register
            </button>
        </div>
    </div>

    <div class="flex-col-c p-t-60">
        <span class="txt1 p-b-17">
            ¿You do not have an account?
        </span>

        <a routerLink="/auth/login"
            class="txt2">
            Log in
        </a>
    </div>
</form>
